# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv/
venv/
ENV/
env/
*.env

# Database
*.db
*.sqlite3

# PDFs / temp
temp.pdf

# Logs
*.log

# IDEs / editors
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/
